<p id="notice"><%= notice %></p>

<h3>New Company</h3>

<%= render 'form' %>

<hr>

<h1>Listing Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <%= render company %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
